.card {
    margin-bottom: 15px;
}
.anuncioCard {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 10px; 
    align-items: flex-start;   
}

.anuncioCard-image {
    max-width: 150px;
    margin-right: 10px;   
}

.anuncioCard-footer {
    display: flex;
    align-self: flex-end;
    width: 100%;
    font-size: 26px;
    font-weight: 600;
    margin-left: auto;
}

.anuncioCard-footer p {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
    margin: 0;
}
